booru
desktop-notifier
filetype
get-video-properties
mpv
pillow
pyglet
pynput
pypresence
pystray
pywin32; platform_system == 'Windows'
requests
ruff
screeninfo
tkinter-tooltip
tkinterweb
ttkwidgets
voluptuous
